#capt{
    text-align: center;
    height:50px;
    width: 100px;
    background-color: antiquewhite;
    -webkit-text-stroke: 1px rgb(40, 83, 23);
     font-style: italic;
      font-size:larger;
      font-weight: 200;
       letter-spacing: 2px;
       text-orientation:initial;
  
 }
 .alert {
    position: relative;
    padding: .75rem 1.25rem;
  
    border: 1px solid transparent;
    border-radius: .35rem;
  }

input [type="checkbox"]
{
    vertical-align:middle;
}
    
  
