<app-header></app-header>
<div class="page-body-wrapper">
    <app-sidebar></app-sidebar>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">


                    <div class="titleSec">
                      <h2>Raise Ticket</h2>
                    </div>

                  <div class="row">
                    <div class="col-sm-12">

                       <form>


                        <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Date</b></label>
                          </div>
                          <div class="col-sm-10">
                              <input type="text" class="form-control p-2" placeholder=""
                                  name="date" id="itemdate" #date readonly value="{{this.now | date:'dd-MM-YYYY h:mm:ss a'}}"
                                  >


                          </div>

                          <div class="col-sm-3"></div>

                      </div><br>

                      <div class="form-group row">
                        <div class="col-sm-2">
                            <label><b>Client</b>&nbsp;<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" class="form-control">

                        </div>

                    </div>

                       </form>










                    </div>


                  </div>







</div>
</div>
</div>
</div>
</div>
