
<!-- <div class="LoginCardLayout">
	<div class="signUpCardLayout-card memberShipArea">
	
	<ul class="tabUl nav-tabs">
   
    <li class="active"><a data-toggle="tab" (click)="open_client()">Client Signup</a></li>
    <li><a data-toggle="tab"(click)="open_employee()">Employee Signup</a></li>

  </ul>

  <div class="tab-content ">
    <div id="home" class="tab-pane fade in active tabContent " [hidden]="display" >
	<div class="login_left">
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Client Code</label>
         <input type="text" class="form-control" Placeholder="Enter Client Code">
		</div>
		<div class="col-sm-6 float-left">
		<label>Client name</label>
           <input type="text" class="form-control" value="Suman mitra" readonly>
		</div>
			
			</div>
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Email</label>
         <input type="email" class="form-control" placeholder="Enter Email">
		</div>
		
			
		</div>
		
		
        <div class="form-row">
            <div class="col-sm-6 float-left">
            <label>Password*</label>
             <input type="password" class="form-control" placeholder="Enter Password" >
            </div>
                
            <div class="col-sm-6 float-left">
            <label>Confirm Password*</label>
             <input type="password" class="form-control" placeholder="Enter Confirm Password" >
            </div>
                </div>
		
	
		
		<div class="col-sm-12 btnBack">
		<button type="button">Login</button>
		</div>
		
		
	</div>
	
		<br clear="all">

    </div>
    <div id="menu1" class="tab-pane fade tabContent" [hidden]="display1" >
      <div class="login_left">
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Employee Code</label>
         <input type="text" class="form-control" placeholder="Enter Employee Code">
		</div>
		<div class="col-sm-6 float-left">
		<label>Name</label>
         <input type="text" class="form-control" value="Suman Mitra" readonly >
		</div>
			
		</div>
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Type</label>
   
			
			
			<select name="type" >
            <option value=" "> Select</option>
			<option value="E ">Engineer</option>
			<option value="T ">Telecaller</option>
			<option value="M ">Manager</option>
			</select>
			
		</div>
        <div class="col-sm-6 float-right">
            <label>Email</label>
             <input type="email" class="form-control" placeholder="Enter Email">
        </div>

		
			
		</div>
		
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Password*</label>
        <input type="password" class="form-control" placeholder="Enter Password">
		</div>
			
		<div class="col-sm-6 float-left">
		<label>Confirm Password*</label>
       <input type="password" class="form-control" placeholder="Enter Confirm Password">
		</div>
			</div>
		
	
		
		<div class="col-sm-12 btnBack">
		<button type="button">Login</button>
		</div>
		
		
	</div>
		
		<br clear="all">
    </div>
  </div>
		
		
		
	</div>
</div> -->

<div class="LoginCardLayout">
	
	
	<div class="signUpCardLayout-card memberShipArea">
	<div class="LoginCardLayout-LoginLogoContainer "><a routerLink='/' routerLinkActive="true"><img src="../../../assets/Login_assets/images/logo.png" alt="" class="LoginCardLayout-LogoLogo"/></a></div>
		<ul class="tabUl nav-tabs">
    <!-- <li class="active"><a data-toggle="tab" href="#home">Client Signup</a></li>
    <li><a data-toggle="tab" href="#menu1">Employee Signup</a></li> -->

	<li class="active"><a data-toggle="tab" (click)="open_client()">Client Signup</a></li>
    <li><a data-toggle="tab"(click)="open_employee()">Employee Signup</a></li>

  </ul>
   <div class="tab-content ">
    <div id="home" class="tab-pane fade in active tabContent " [hidden]="display" >
	<div class="login_left">
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Client Code</label>
         <input type="text" class="form-control" Placeholder="Enter Client Code">
		</div>
		<div class="col-sm-6 float-left">
		<label>Client name</label>
           <input type="text" class="form-control" value="Suman mitra" readonly>
		</div>
			
			</div>
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Email</label>
         <input type="email" class="form-control" placeholder="Enter Email">
		</div>
		
			
		</div>
		
		
        <div class="form-row">
            <div class="col-sm-6 float-left">
            <label>Password*</label>
             <input type="password" class="form-control" placeholder="Enter Password" >
            </div>
                
            <div class="col-sm-6 float-left">
            <label>Confirm Password*</label>
             <input type="password" class="form-control" placeholder="Enter Confirm Password" >
            </div>
                </div>
		
		<!--<div class="col-sm-12 float-left terms">
		<label class="containerCK">Terms &amp; Condition Apply
		<input type="checkbox" checked="checked">
		<span class="checkmark"></span>
		</label>
		</div>-->
		
		<div class="col-sm-12 btnBack">
		<button type="button">Login</button>
		</div>
		
		
	</div>
	
		<br clear="all">

    </div>
    <div id="menu1" class="tab-pane fade tabContent" [hidden]="display1" >
      <div class="login_left">
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Employee Code</label>
         <input type="text" class="form-control" placeholder="Enter Employee Code">
		</div>
		<div class="col-sm-6 float-left">
		<label>Name</label>
         <input type="text" class="form-control" value="Suman Mitra" readonly >
		</div>
			
		</div>
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Type</label>
   
			
			
			<select name="type" >
            <option value=" "> Select</option>
			<option value="E ">Engineer</option>
			<option value="T ">Telecaller</option>
			<option value="M ">Manager</option>
			</select>
			
		</div>
        <div class="col-sm-6 float-right">
            <label>Email</label>
             <input type="email" class="form-control" placeholder="Enter Email">
        </div>

		
			
		</div>
		
		
		<div class="form-row">
		<div class="col-sm-6 float-left">
		<label>Password*</label>
        <input type="password" class="form-control" placeholder="Enter Password">
		</div>
			
		<div class="col-sm-6 float-left">
		<label>Confirm Password*</label>
       <input type="password" class="form-control" placeholder="Enter Confirm Password">
		</div>
			</div>
		
		<!--<div class="col-sm-12 float-left terms">
		<label class="containerCK">Terms &amp; Condition Apply
		<input type="checkbox" checked="checked">
		<span class="checkmark"></span>
		</label>
		</div>-->
		
		<div class="col-sm-12 btnBack">
		<button type="button">Login</button>
		</div>
		
		
	</div>
		
		<br clear="all">
    </div>
  </div>
		
		
		
	</div>
</div>


