<nav class="sidebar sidebar-offcanvas" id="sidebar">
		
    <ul id="accordion" class="accordion">
  <li>
  <div class="link"><a a routerLinkActive="true" routerLink="/dashboard"><i class="fa fa-tachometer"></i>Dashboard</a></div>
  </li>
  
  
 
  
    <!-- <li>
      <div class="link" (click)="openclosedropdown()"><i class="fa fa-mobile"></i>Admin<i class="fa fa-chevron-down" id="down" ></i></div>
      <ul class="submenu" id="openclose">
        <li><a  routerLinkActive="true" routerLink="/item">Client Type</a></li>
        <li><a  routerLinkActive="true" routerLink="/stackholders">Stakeholder</a></li>
      </ul>
    </li> -->
  

   
    <li *ngIf="u_type=='A' || u_type=='M' || u_type=='T'">
        <div class="link" (click)="openclosedropdown()"><i class="fa fa-bars"></i>Masters<i class="fa fa-chevron-down " id="down1" ></i></div>
        <ul class="submenu" id="openclose1" >
          <li><a  routerLinkActive="true" routerLink="/clienttypemaster/dashboard" >Client Type</a></li>
          <li><a  routerLinkActive="true" routerLink="/operationmode/dashboard">Operational Mode</a></li>
          <li><a  routerLinkActive="true" routerLink="/ticketstatus/dashboard">Ticket Status</a></li>
          <li><a  routerLinkActive="true" routerLink="/prioritymode/dashboard">Priority Mode</a></li>
          <li><a  routerLinkActive="true" routerLink="/mastermodule/dashboard">Module</a></li>
          <li><a  routerLinkActive="true" routerLink="/addemp/dashboard">Employees</a></li>
          <li><a  routerLinkActive="true" routerLink="/addclient/dashboard">Clients</a></li>

        </ul>
    </li>
    
      <li>
        <div  class="link" (click)="openclosedropdown1()"><i class="fa fa-bars"></i>Operations<i class="fa fa-chevron-down" id="down1" ></i></div>
        <ul class="submenu" id="openclose">
          <li [hidden]="Etype"><a  routerLinkActive="true" routerLink="/operations/raiseticket">Raise Ticket</a></li>
          <li [hidden]="utype || Etype"><a  routerLinkActive="true" routerLink="/operations/assignticket">Assign Ticket</a></li>
          <li [hidden]="utype"><a  routerLinkActive="true" routerLink="/operations/attendanddeliver">Attend & Deliver Ticket</a></li>
         

          
         

        </ul>
      </li>




      <li>
        <div  class="link" (click)="openclosesearchticket()"><i class="fa fa-search" aria-hidden="true"></i>Search Ticket<i class="fa fa-chevron-down "></i></div>
        <ul class="submenu" id="openclose_searchtkt">
          <li><a data-toggle="modal" data-target="#mymodal_dt" (click)="make_date_true()">Search by Date </a></li>
          <li><a data-toggle="modal" data-target="#mymodal_tkt" (click)="make_true()">Search by Ticket No.</a></li>
        </ul>
  
      </li>





      
    <li *ngIf="u_type=='A' || u_type=='M'">
      <div  class="link" (click)="opencloseadminsubmenu()"><i class="fa fa-user" aria-hidden="true"></i>Admin<i class="fa fa-chevron-down "></i></div>
      <ul class="submenu" id="openclose_admin">
        <li><a   routerLinkActive="true" routerLink="/operations/Admin/usermaintanance">User Maintainance</a></li>
        <li><a  routerLinkActive="true" routerLink="/operations/Admin/notifications">Notification</a></li>
      </ul>

    </li>
    
  
  <li>
  <div class="link log" data-toggle="modal" data-target="#mymodal" ><i class="fa fa-sign-out" ></i>Log out</div>
  </li>
          
          
     
  
  
  
  
  
  
  
  
  
  
  
  
  </ul>
  
  
    
  
  
  
     
  
  
  
  
  
  </nav>






  
<div class="modal fade in" id="mymodal" >
  <div class="modal-dialog modal-sm modal-dialog-centered">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center w-100 ">Alert!!</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
         
        <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p class="text-center p-4 h4"><strong>Are you sure you want to log out? </strong></p>
      </div>
      <div class="modal-footer p-3">
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal" (click)="logout()">Ok</button>
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal">Cancel</button>
        <!-- <button mat-button data-dismiss="modal" class="color mr-2" (click)="logout()">Ok</button>
        <button mat-button data-dismiss="modal"  class="color ">Cancel</button> -->
      </div>
    </div>
    
  </div>
</div>
<div class="modal fade in" id="mymodal_dt" >
  <div class="modal-dialog modal-md modal-dialog-centered">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center w-100 "><b>Please enter a date range</b></h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
         
        <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            
              <div class="col">
                <label for="frm">From :</label>
                <input id="frm" class="form-control" type="date" #from_date (change)="prevent_null_frm()">
              </div>
              <div class="col">
                <label for="t">To :</label>
                <input id="t" class="form-control" type="date" #to_date (change)="prevent_null_to()">
              </div>
          
          </div>
        </form>
      </div>
      <div class="modal-footer p-3">
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal" [disabled]="done_dt" (click)="srch_dt(from_date.value,to_date.value)">Submit</button>
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal">Cancel</button>
        <!-- <button mat-button data-dismiss="modal" class="color mr-2" (click)="logout()">Ok</button>
        <button mat-button data-dismiss="modal"  class="color ">Cancel</button> -->
      </div>
    </div>
    
  </div>
</div>
<div class="modal fade in" id="mymodal_tkt" >
  <div class="modal-dialog modal-sm modal-dialog-centered">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center w-100 ">Please enter a Ticket Number</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
         
        <button type="button" class="close pt-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              
                
                <input id="tkt_no" class="form-control" type="text" placeholder="Ticket No." #tkt_ref (keyup)="prevent_null($event)">
                <span class="text-danger" *ngIf="done && prevent">Please enter a Ticket No.</span>
              
            
          </div>
        </form>
      </div>
      <div class="modal-footer p-3">
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal" [disabled]="done" (click)="srch_tkt(tkt_ref.value)">Submit</button>
        <button type="button" class="btn btn-dark btn-lg text-white" data-dismiss="modal">Cancel</button>
        <!-- <button mat-button data-dismiss="modal" class="color mr-2" (click)="logout()">Ok</button>
        <button mat-button data-dismiss="modal"  class="color ">Cancel</button> -->
      </div>
    </div>
    
  </div>
</div>



  
  
  
<!-- 
 <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      
      <div class="modal-header">
        <h6 class="modal-title w-100 text-center">Alert!!</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      

      <div class="modal-body text-center ">
       <p>Are you sure you want to log out?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="logout()">Ok</button>
       
      </div>
      
    </div>
  </div>
</div> -->


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   