<nav class="navBar fixed-top">
	<div class="float-left logo"></div>
	<div class="float-left navRightSec">
		
		<ul class="topDate">
      <li class="text-bold text-dark" style="font-size: 22px; color: #282a3c;">Hello, {{this.emp_name}} &nbsp;({{this.type}})</li>
<!-- <li>Branch Name: Head Office</li> <li>KMS Year: 2020-21</li> <li>User: synergic</li> <li>Module: Paddy Procurement</li> -->
</ul>
		
<!--
		<ul class="topDateRoght">
 <li>User: synergic</li> <li>Module: Paddy Procurement</li>
</ul>
-->
		
		<ul class="nav topDateRight">
			<li class="nav-item dropdown">
                    <a  class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    
                </li>
			<!-- <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Main Menu 1</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Dropdown Menu 1</a>
                        <a href="#" class="dropdown-item">Dropdown Menu 2</a>
					            	<a href="#" class="dropdown-item">Dropdown Menu 3</a>
					            	<a href="#" class="dropdown-item">Dropdown Menu 4</a>

                    </div>
                </li> -->
			<!-- <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Main Menu 2</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Dropdown Menu 1</a>
                        <a href="#" class="dropdown-item">Dropdown Menu 2</a>
						<a href="#" class="dropdown-item">Dropdown Menu 3</a>
						<a href="#" class="dropdown-item">Dropdown Menu 4</a>

                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Logout</a>

                    </div>
                </li> -->
                <li class="nav-item dropdown">
                    <a  class="nav-link"><i class="fa fa-bell" aria-hidden="true"></i> Notification</a>
                    
                </li>
            </ul>
		
</div>

<!--
	<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fa fa-bars"></span>
		

      </button>
-->
		
<!--
	<ul class="navbar-nav navbar-nav-right">
        <li class="nav-item msgNav">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          
        </li>
        <li class="nav-item notifiNav">
          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>
          
        </li>
        <li class="nav-item nav-profile dropdown mr-0 mr-sm-2">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" aria-expanded="false">
            <img src="images/40x40.png" alt="profile">
            <span class="nav-profile-name">Don Richards</span>
          </a>
          
        </li>
      </ul>
-->
		
	<!-- </div> -->
</nav>
	
