<nav class="navBar fixed-top">
	<div class="float-left logo"></div>
	<div class="float-left navRightSec">

		<ul class="topDate">
      <li class="text-bold text-dark" style="font-size: 22px; color: #282a3c;">Welcome, {{this.emp_name}} &nbsp;({{this.type}})</li>

</ul>



		<ul class="nav topDateRight">
			<li class="nav-item dropdown">
                    <a  class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>

                </li>

                <li class="nav-item dropdown">
                    <a  class="nav-link"><i class="fa fa-bell" aria-hidden="true"></i> Notification</a>

                </li>
            </ul>

</div>


</nav>

