.thumbnail{
    border-radius: 50%;
    height:100px;
    width:100px;
}



.example-small-box, .example-large-box {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* margin: 16px; */
  /* padding: 16px; */
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 100%;
}

.example-large-box {
  height: 100%;
  width: 100%;
}


.example-button-row  {
  margin: 8px 8px 8px 0;
}


/* ::ng-deep .mat-tab-list .mat-tab-labels{

  } */


  .icon-2x {
    transform: scale(.9);
}

 /* mat-icon{
  height: 36px;
  width: 22px;
 } */


 /* ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: rgb(39, 184, 176) !important;
} */


.primary{
    color:white;
    background-color: #282a3c;

  }
  /* mat-tab{
    color:white;
    background-color: #282a3c;
  } */

  /* .mat-tab-label-container{
    background-color:#282a3c;
    color:white;

  } */
  /* .mat-tab-label{
    background:#282a3c;
    color: white;
    width: 60px;
    height: 50px;
    font-size: 20px;
  } */
  .dot {
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;}
    .dot1 {
      height: 8px;
      width: 8px;
      background-color:rgba(255, 0, 0, 0.568);
      border-radius: 50%;
      display: inline-block;}
  /* slide toggle */

  .switch {
    position: relative;
    display: inline-block;
    width: 79px;
    height: 27px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(252, 158, 158);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    bottom: 6px;
    left: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

  }

  input:checked + .slider {
    background-color: rgb(150, 248, 150);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgb(153, 253, 153);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  .pt{
    vertical-align: sub;
  }
  .form-control {
    height: calc(2.5em + 0.75rem + 2px) !important;
    font-size: 1.3rem !important;
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:white;
  background-color: #282a3c;;
  }

  ::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#1F89CE) !important;
    }
